.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #000;
  min-height: 4rem;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.fiat, .link {
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.link {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
